<form class="{{cssClass}}" autocomplete="off">

    <header class="trophy-header">
        <div class="trophy-name">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            
        </div>
                
        <div class="trophy-resources">
            
            
            <div class="trophy-ruin">
                <label>Ruin</label>
                <input type=number name="data.ruin.value" value="{{data.ruin.value}}" max="6" min="1" data-dtype="Number">
            </div>
        
            <div class="trophy-money-gold">
                <label>Gold</label>
                <input type=number name="data.attributes.gold.value" value="{{data.attributes.gold.value}}" min="0" data-dtype="Number">
            </div>
            
            <div class="trophy-money-burdens">
                <label>Burdens</label>
                <input type=number name="data.attributes.burdens.value" value="{{data.attributes.burdens.value}}" min="1" data-dtype="Number">
            </div>
            
            <div class="trophy-money-hoard">
                <label>Hoard</label>
                <input type=number name="data.attributes.hoard.value" value="{{data.attributes.hoard.value}}" min="0" max="50" data-dtype="Number">
            </div>
        
        </div>
        
        <img class="trophy-profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        
    </header>
    <br><br>
    <section class="trophy-content sheet-body">
        
        <div class="trophy-main">
        
            <div class="trophy-main-head">
                <div class="trophy-occupation">
                    <label>Occupation</label><br>
                    <input type=text name="data.attributes.occupation.value" value="{{data.attributes.occupation.value}}" data-dtype="String">
                </div>
                <div class="trophy-background">
                    <label>Background</label><br>
                    <input type=text name="data.attributes.background.value" value="{{data.attributes.background.value}}" data-dtype="String">
                </div>
                <div class="trophy-drive">
                    <label>Drive</label><br>
                    <input type=text name="data.attributes.background.drive" value="{{data.attributes.background.drive}}" data-dtype="String">
                </div>
                
            </div>
            
            <div class="trophy-main-content">
            <div class="trophy-skills">
                <label>Skills</label>
                <ol class="items-list">
            {{#each actor.skills as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <h4 class="item-name">{{item.name}}</h4>
                    <h4 class="item-summary">{{data.summary}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
            </div>
            
            <div class="trophy-weapons">
                <label>Weapons</label>
                <ol class="items-list">
            {{#each actor.weapons as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <h4 class="item-name">{{item.name}}</h4>
                    <h4 class="item-summary">{{data.summary}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
            </div>
            
            <div class="trophy-armour">
                <label>Armour</label>
                <ol class="items-list">
            {{#each actor.armour as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <h4 class="item-name">{{item.name}}</h4>
                    <h4 class="item-summary">{{data.summary}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
            </div>
            </div>
            <div class="trophy-backpack">
            <label>Backpack</label>
            <ol class="items-list">
            {{#each actor.equipment as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <h4 class="item-name">{{item.name}}</h4>
                    <h4 class="item-summary">{{data.summary}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
            </div>
            <div class="trophy-rituals">
                <label>Rituals</label>
                <ol class="items-list">
            {{#each actor.powers as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <h4 class="item-name">{{item.name}}</h4>
                    <h4 class="item-summary">{{data.summary}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
            </div>
            <div class="trophy-notes">
                <label>Notes</label>
                {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
            </div>
        </div>
                
    </section>
    
</form>