<form class="{{cssClass}}" autocomplete="off">
    <header class="trophy-header">
        <div class="trophy-name">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
        
        <div class="trophy-resources">
            <div class="trophy-ruin">
                <label>Uses</label>
                <input type="number" name="data.attributes.uses.value" value="{{data.attributes.uses.value}}" min=0 data-dtype="Number">
            </div>
            
            <div class="trophy-money-gold">
                <label>Value</label>
                <input  type=number name="data.attributes.worth.value" value="{{data.attributes.worth.value}}" min=0 data-dtype="Number">
            </div>
        </div>
        
        <img class="trophy-profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </header>

        <div class="trophy-main-content">
        <div class="trophy-notes">
            <label>Notes</label>
            {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
        </div>           
           
        </div>
</form>