<form class="{{cssClass}}" autocomplete="off">

    <header class="trophy-header">
        
        <div class="trophy-name">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        </div>
        
        <div class="trophy-resources">
                <div class="trophy-ruin">
                    <label>Endurance</label>
                    <input type=number name="data.attributes.endurance.value" value="{{data.attributes.endurance.value}}" max="24" min="1" data-dtype="Number"/>
            </div>
        </div>
        <img class=trophy-profile-img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        
    </header>

    <section class="trophy-content sheet-body">
        
        <div class="trophy-main-head">
            <div class="trophy-tags">            
                <label  class="attribute-label">Tags: </label>

                <input  type="text"  name="data.attributes.tags.value"  value="{{data.attributes.tags.value}}"  data-dtype="String"/>
            </div>
            <div class="trophy-weakness">
            <label  class="attribute-label"> Weakness: </label>

            <input  type="text"  name="data.attributes.weakness.value"  value="{{data.attributes.weakness.value}}"  data-dtype="String"/>
            </div>
            
            </div>
            
        <div class="trophy-main-content">
            <div class="trophy-monster-abilities">
            <label>Special Abilities</label>
            
            <ol class="items-list">
            {{#each actor.powers as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <h4 class="item-name">{{item.name}}</h4>
                    <h4 class="item-summary">{{data.summary}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
            </div>          
            <div class="trophy-monster-inventory">
                <label>Likely Treasure</label>
                <ol class="items-list">
            {{#each actor.equipment as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <h4 class="item-name">{{item.name}}</h4>
                    <h4 class="item-summary">{{data.summary}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
            </div>
        
        </div>
               
        <div class="trophy-notes">
            <label>Notes</label>
            {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
        </div>

       
    </section>
</form>