<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        </div>
        
        <div class="header-fields">
                <div class="resource">
        <label  class="resource-label"> Endurance: </label>
                <input type="text" name="data.attributes.endurance.value" value="{{data.attributes.endurance.value}}" data-dtype="Number"/>
            </div>
            
        </div>
        
        
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="notes">Notes</a>
    </nav>

    <section class="sheet-body">
        
        <div class="tab attributes" data-group="primary" data-tab="attributes">
                        
            <label  class="attribute-label"> Tags: </label>

            <input  type="text"  name="data.attributes.tags.value"  value="{{data.attributes.tags.value}}"  data-dtype="String"/><br><br>
            
            <label  class="attribute-label"> Weakness: </label>

            <input  type="text"  name="data.attributes.weakness.value"  value="{{data.attributes.weakness.value}}"  data-dtype="String"/><br><br>
            
            <label class="attribute-label">Special Abilities</label>
            
            <ol class="items-list">
            {{#each actor.powers as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name">{{item.name}}</h4>
                    <h4 class="item-summary">{{data.summary}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
                        
        </div>
       
        <div class="tab items" data-group="primary" data-tab="items">
            
            <ol class="items-list">
            {{#each actor.equipment as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name">{{item.name}}</h4>
                    <h4 class="item-summary">{{data.summary}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>
        
        <div class="tab notes" data-group="primary" data-tab="notes">
            {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
        </div>

       
    </section>
</form>