<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="notes">Notes</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    <section class="sheet-body">
        
        <div class="tab" data-group="primary" data-tab="notes">
            <input  type="text"  name="data.attributes.summary.value"  value="{{data.attributes.summary.value}}"  data-dtype="String"/>
            <br><br>
            
            <label class="attribute-label">Notes</label>
            {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
        </div>

        <div class="tab attributes" data-group="primary" data-tab="attributes">
                        
            <label  class="attribute-label"> Source: </label>

            <input  type="text"  name="data.attributes.source.value"  value="{{data.attributes.source.value}}"  data-dtype="String"/>
            
            <label  class="attribute-label"> Type: </label>

            <input  type="text"  name="data.attributes.type.value"  value="{{data.attributes.type.value}}"  data-dtype="String"/>
           
        </div>
    </section>
</form>