<form class="{{cssClass}}" autocomplete="off">
    <header class="trophy-header">
        
        <div class="trophy-name">
            <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
        </div>
        
        <img class="trophy-profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </header>

    
    <section class="trophy-content sheet-body">
        
        <div class="trophy-notes">
            <input  type="text"  name="data.attributes.summary.value"  value="{{data.attributes.summary.value}}"  data-dtype="String"/>
            
            <label>Notes</label>
            {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>